<div class="container-xl px-4 mt-2">
  <h2>My mentor</h2>


<% if current_user.role == "mentor" %>
  <%= render 'mentors/show_mentee' %>
<% else %>
  <%= render 'mentees/show_mentor', locals: {mentor: @mentor} %>
<% end %>
