.card-small-green {
  background-color: #548C85;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

}
.card-small-gray {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #F3F7F7;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px;
  margin-bottom: 20px;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #454747;
  font-weight: bold;
}

.card-small-infos,
.card-small-message-icon {
  margin: 0 10px;
}

.message-icon,
.timeline-icon {
  color: #548C85;
  font-size: 3rem;
}

.message-icon-mentor,
.timeline-icon-mentor{
  color: white;
  font-size: 3rem;
}

.message-icon-gray,
.timeline-icon-gray {
  color: #548C85;
  font-size: 3rem;
  margin-right: -25px;
}

.gray-username {
  font-family: 'Source Sans Pro', sans-serif;
  color:#548C85;
  font-weight: bold;
  font-size: 18px;
  margin-left: -35px;
}

.user-home {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-left: -35px;
  text-decoration: none;
}

.icons{
  font-size: 30px;
}
