// Specific CSS for your home-page


.card-small-green {
  background-color: #548C85;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.card-small-message-icon {
  /* Add styling for the right side of the card */
}

.message-icon {
  color: white;
}
