.task {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.card-small-gray-task-done {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #f3f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px;
  margin-bottom: 20px;
}

// .card-small-gray-task-doing-mentor {
//   /* Add styles for mentor view */
//   background-color: #f3f7f7;
// }

.edit-task-button,
.mark-as-done-button {
  /* Add button styling here */
  /* For example: */
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
}

.card-small-gray-task-todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #CCE0DE;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px;
  margin-bottom: 20px;
}

.card-small-green-ultimate-goal {
  background-color: #548C85;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  color: white;
  text-emphasis-style: bold;
}

.task-icons{
  font-size: 30px;
  color: #548C85;
  background-color: transparent;
}
