.task {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-small-gray-task-done {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #CCE0DE;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px;
  margin-bottom: 22px;
}

.edit-task-button,
.mark-as-done-button {
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
}

.card-small-gray-task-todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px;
  margin-bottom: 20px;
}

.card-small-gray-task-todo:hover {
  color:#548C85;
}

.card-small-gray-task-done:hover {
  color:#548C85;
}

.card-small-green-ultimate-goal {
  background-color: #548C85;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  color: white;
  text-emphasis-style: bold;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.card-goal {
  background-color: #548C85;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  color: white;
  text-emphasis-style: bold;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.btn-submit {
    color: $lighter;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    font-weight: lighter;
    background: #CCE0DE;
    transition:0.3s ease;
    height: 40px;
    width: 275px;
    color: #548C85;
    text-emphasis-style: bold;
  }

.btn-submit:hover{
    background: #CCE0DE;
    color: $lighter;
  }

.task-icons{
  font-size: 30px;
  color: #548C85;
  background-color: transparent;
}

.reached-icons{
  font-size: 30px;
  color: white;
  background-color: transparent;
}

.btn-task-delete{
  background-color: white;
  border-radius: 50px;
  border-color: #548C85;
  color: #548C85;
  padding: 10px 10px;
  font-size: 16px;
  transition:0.3s ease;
  height: 40px;
  width: 275px;
  text-align: center
}

.btn-task-delete:hover{
  background: #548C85;
  color: $lighter;
}
