<div class="container px-4 mt-4">
    <h2>Tasks</h2>
      <hr class="mt-0 mb-4">

    <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.title, connection_task_path(@connection, task), class: "task" %></li>
    <% end %>
    </ul>

    <div class="row">
      <div class="col-12 d-flex justify-content-center ">
        <%= link_to "Add a task", new_connection_task_path, class: "btn btn-ghost btn-submit align-items-center"%>
      </div>
    </div>
 <br>
<div class="goal text-center">
    <h5>Main goal:</h5>
    <h6><%= @mentee.goal %></h6>
</div>

</div>
