<div class="container px-4 mt-4">
  <h2>Mentee</h2>
    <hr class="mt-0 mb-4">

  <%= simple_form_for(@mentee, html: { multipart: true }) do |f| %>
  <div class="form-inputs text-center">
    <%= f.input :goal,
                required: false,
                placeholder: "(be explicit)",
                input_html: { autocomplete: "location", class:"input_html text-center" } %>
      <div class="form-actions">
      <%= f.button :submit, "Create account", class: "btn btn-ghost btn-submit row justify-content-center" %>
      </div>
  <% end %>
  </div>
</div>
