<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto">
                <%= image_tag "logo1.png", class: "logo"%>
            </div>
            <div class="col-auto">
                <h2 class="navbar-title mb-0" style="color: #548C85 !important; font-family: sans-serif !important; font-size: 15px !important;">Mentor Me</h2>
            </div>
        </div>
    </div>
</div>
