<div class="container px-4 mt-4">

  <div class="routes text-center">
    <div class="routes-q mx-10">
      <h5>Who are you?</h5>
    </div>
      <%= link_to "I am a mentor", new_mentor_path, class:"btn btn-flat btn-route"%>
      <%= link_to "I am a mentee", new_mentee_path, class:"btn btn-flat btn-route"%>

  </div>
</div>
