
<%#
<swiper-container class="mySwiper" pagination="true">
    <swiper-slide>Slide 1</swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide>
  </swiper-container> %>


    <%# <swiper-container class="mySwiper" pagination="true">
      <swiper-slide>Mentor1</swiper-slide>
      <swiper-slide>Mentor2</swiper-slide>

    </swiper-container> %>
<div class="swiper mySwiper">
  <div class="swiper-pagination"></div>
  <div class="swiper-wrapper" style="height: 700px;">
    <% @mentors.each do |mentor| %>
      <div class="swiper-slide" id="mentor" <%= mentor.id %>>
        <p>Profile picture</p>
        <p><%= mentor.user.first_name %></p>
        <p><%= mentor.job_title %></p>
        <p><%= mentor.user.location %></p>
        <p>More information?</p>
      </div>
    <% end %>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  const swiper = new Swiper(".mySwiper", {
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script>


<div class="buttons">
  <button class="btn btn-flat btn-reject">Reject</button>
  <button class="btn btn-flat btn-accept">Accept</button>
</div>

