<div class="container px-4 mt-4">
  <h2>Mentor</h2>
    <hr class="mt-0 mb-4">

  <%= simple_form_for(@mentor, html: { multipart: true }) do |f| %>
  <div class="form-inputs text-center">
    <%= f.input :job_title,
                required: false,
                placeholder: "'developer'",
                input_html: { autocomplete: "location", class:"input_html text-center" } %>
     <%= f.input :company,
                required: false,
                placeholder: "'Google'",
                input_html: { autocomplete: "location", class:"input_html text-center" } %>
      <div class="form-actions">
      <%= f.button :submit, "Create account", class: "btn btn-ghost btn-submit row justify-content-center" %>
      </div>
  <% end %>
  </div>
</div>
