.card-swipe {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    width: 300px;
  }

  .card-small {
    // background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px;
  }

  .card-signing {
    padding: 10px;
    border-radius: 10px;
  }

  .card-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: $light;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    height: 100px;
    padding: 20px;
    margin-bottom: 20px; /* Adjust the margin as needed */
  }

  .task-goal {
    color:#F3F7F7;
  }

  .done-goal {
    height: 55px;
    margin-top: 10px;

  }
