.input_html {
  border-radius: 50px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

#import-input::placeholder {
  color: $medium;
  font-weight: bolder;
  // opacity: 1;
}

.swipe-input::placeholder {
  color: $medium;
}

#inputbio {
  height: 100px;
  border-radius: 30px;
}
