// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "btn";
@import "cards";
@import "swiper";
@import "chatroom";



.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-top: 80px;
  margin-bottom: 20px;;
  margin-left: 50px;
  margin-right: 50px;;
}

.bio {
  margin-top: 140px;
}



@import "forms";
