.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  /* Your styles here */
  display: inline-block;
  position: relative;
  width: auto;
  height: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-top: 20px;
}

#star-review {
  color: $medium;
  // margin-left: 200px;
}
